body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  margin: 20px;
}

#task-form input {
  padding: 8px;
  font-size: 16px;
}

#task-form button {
  background-color: #4dd46f;
  border: none;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

#task-form button:hover {
  opacity: 0.8;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
}

#hours, #minutes {
  width: 80px;
  padding: 4px;
  font-size: 12px;
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle;
  text-align: center;
}

#task-list li {
  padding: 8px;
  margin-bottom: 4px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#task-list li input {
  cursor: pointer;
}

#task-list li input[type="text"] {
  cursor: text;
  font-size: inherit;
  width: 80%;
}

@media (min-width: 1000px) {
  #task-list {
    max-width: 85%;
  }
}

#task-list li span {
  margin-left: 8px;
  flex: 1;
}

#task-list li.completed span {
  text-decoration: line-through;
  color: gray;
}

.btn-container {
  display: flex;
  gap: 10px;
}

#task-list li {
    display: flex;
    align-items: center;
    gap: 12px;
}

#task-list li input[type="checkbox"] {
  flex: 0 0 auto;
}

#task-list button {
  border: none;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

#task-list button.delete {
  background-color: #e74c3c;
}

#task-list button.edit {
  background-color: rgb(38, 151, 226);
}

#task-list button:hover {
  opacity: 0.7;
}

.task-info {
  display: grid;
  grid-template-columns: 250px 120px 120px 120px; /* fixed column widths */
  gap: 16px;
  align-items: center;
}

.task-title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-due,
.task-priority,
.task-estimated {
  font-size: 0.9rem;
  color: #555;
  white-space: nowrap;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.btn-container button {
    margin-left: 4px;
}


#pagination-controls {
  display: flex;
  margin-left: 32px;
  margin-top: 12px;
  gap: 8px;
  align-items: center;
}

#pagination-controls button {
  border: none;
  color: rgb(255, 255, 255);
  background-color: #bb500d;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

#pagination-controls button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
